
@{
}

<!--================ Accommodation Area  =================-->
<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h1 class="title_color">Successful</h1>
            <p>A confirmation link have been sent to the given email</p>
        </div>
    </div>
</section>
<!--================ Accomodation Area  =================-->