@model HotelMgtModel.Dtos.AuthDtos.RegisterDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="~/login/assets/css/login.css">
</head>
<body>
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="~/login/assets/images/login.jpg" alt="register" class="login-card-img">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              @*<div class="brand-wrapper">
                <a asp-controller="Home" asp-action="Index"><img src="~/main/image/Logo.png" alt=""></a>
              </div>*@
                            @if(@ViewBag.Error != null)
                            {
                                <h3 style="color:red">@ViewBag.Error</h3>
                            }
                            <p class="login-card-description">Create new account</p>
              <form asp-action="Register" method="post">
                  <div class="form-group">
                    <label for="FirstName" class="sr-only">First name</label>
                    <input type="text" name="FirstName" id="firstname" class="form-control" placeholder="First name">
                  </div>

                  <div class="form-group">
                    <label for="LastName" class="sr-only">Last name</label>
                    <input type="text" name="LastName" id="lastname" class="form-control" placeholder="Last name">
                  </div>

                  <div class="form-group">
                        <label for="exampleSelect1" class="form-label mt-4">Gender</label>
                        <select class="form-select" id="gender" name="Gender">
                            <option selected>Male</option>
                            <option>Female</option>
                        </select>
                    </div>

                  <div class="form-group">
                    <label for="Age" class="sr-only">Age</label>
                    <input for="Age" type="number" name="age" id="age" class="form-control" placeholder="Age">
                  </div>
                  <div class="form-group">
                    <label for="PhoneNumber" class="sr-only">Phone number</label>
                    <input for="PhoneNumber" type="number" name="phonenumber" id="phonenumber" class="form-control" placeholder="Phone number">
                  </div>

                  <div class="form-group">
                    <label for="Email" class="sr-only">Email</label>
                    <input for="Email" type="email" name="email" id="email" class="form-control" placeholder="Email address" required>
                  </div>

                  <div class="form-group mb-4">
                    <label for="Password" class="sr-only">Password</label>
                    <input for="Password" type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                  </div>
                  <div class="form-group mb-4">
                    <label for="ConfirmPassword" class="sr-only">Confirm password</label>
                    <input for="Password" type="password" name="confirmpassword" id="confirmpassword" class="form-control" placeholder="Confirm password" required>
                  </div>
                  <input name="login" id="login" class="btn btn-block login-btn mb-4" type="submit" value="Register">
                </form>
                <p class="login-card-footer-text">Already have an account? <a asp-action="Login" asp-controller="Authentication" class="text-reset">Login here</a></p>
                
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
